@tailwind base;
@tailwind components;
@tailwind utilities;

.star-item {
  display: inline-block;
  margin-bottom: 5px;
}
.custom-button:hover {
  @apply bg-blue-700 text-white;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Số dòng tối đa bạn muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
